<div class="container inner">
  <p class="title-text">Has Obama Targeted Me?</p>
  <p id="notice"> <%= notice %> </p>
    
  <div class="img-container">
    <%= image_tag("obama1.jpg", :alt => "pres") %>
  </div>
  <div>
    <%= render 'form' %>
  </div>
</div>